<div class="container">
  <!-- <p class="lead pt-5 text-white">{{config.title}}</p> -->
  <form name="businessSearchForm">
    <div class="input-group input-group-lg" id="businessSearchGroup">
        <div class="input-group-prepend">
          <span class="input-group-text text-muted font-weight-bold">Find</span>
        </div>
        <input
        autocomplete="off"
        type="text"
        class="form-control"
        name="businessSearchInput"
        id="businessSearchInput"
        aria-label="Business Search"
        [(ngModel)]="asyncSelectedCategory"
        [typeaheadIsFirstItemActive]="false"
        [typeahead]="categoriesDataSource$"
        [typeaheadAsync]="true"
        [typeaheadMinLength]="0"
       [typeaheadOptionField]="'title'"
       (typeaheadOnSelect)="selectAndSearch($event)"
       (typeaheadLoading)="changeTypeaheadLoading($event)"
       [typeaheadItemTemplate]="searchResultTemplate"
          placeholder="delivery, carryout, restaurant">
        <div class="input-group-prepend">
          <span class="input-group-text text-muted font-weight-bold">Near</span>
        </div>
        <input
        autocomplete="off"
        type="text"
        class="form-control"
        name="locationSearchInput"
        id="locationSearchInput"
        aria-label="Location to search"
        [(ngModel)]="asyncSelectedLocation"
        [typeahead]="locationsDataSource$"
        [typeaheadAsync]="true"
        [typeaheadMinLength]="1"
       [typeaheadOptionField]="'name'"
       (typeaheadOnSelect)="locationSelected($event)"
       (typeaheadLoading)="changeTypeaheadLoading($event)"
       placeholder="city, state or zip">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="searchBtn" style="width: 60px;"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <ng-template #searchResultTemplate let-model="item" let-index="index">
      <span class="mr-2">
        <i class="fas" [ngClass]="model.icon"></i>
      </span>
      <span>{{model.title}}</span>
    </ng-template>
    <div id="map"></div>
  </form>
  <div class="btn-group mt-md-3" role="group" aria-label="">
    <button type="button" class="btn btn-link text-white"><i class="fas fa-hammer"></i> Construction</button>
    <button type="button" class="btn btn-link text-white"><i class="fas fa-utensils"></i> Restaurants</button>
    <button type="button" class="btn btn-link text-white"><i class="fas fa-home"></i> Home Services</button>
    <button type="button" class="btn btn-link text-white"><i class="fas fa-bicycle"></i> Delivery</button>
    <button type="button" class="btn btn-link text-white"><i class="fas fa-couch"></i> Furniture</button>
  </div>
</div>
