<div class="navbar-wrapper w-100">
  <div *ngIf="screenWidth > 990; else mobile">
    <nav #fullNav class="navbar navbar-dark bg-transparent py-4">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/review-master-logo.png" width="200" alt="ReviewMaster Logo"></a>
        <ul class="navbar-nav nav-fill mr-auto mt-2 mt-lg-0 flex-row">
          <li class="nav-item">
            <a class="nav-link" href="#">Write a Review <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Forum</a>
          </li>
        </ul>
        <button class="btn btn-link text-light nav-btn" (click)="navigateTo('login')">Log In</button>
        <button class="btn btn-outline-light nav-btn px-4" (click)="navigateTo('signup')">Sign Up</button>
      </div>
    </nav>
  </div>
  <ng-template #mobile>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo-short.png" width="40"
            alt="Review Master Logo"></a>
        <button class="btn-link btn ml-auto" type="button" style="outline: none;" (click)="toggleSearch()"><i class="fas fa-search fa-2x"></i></button>
        <button class="hamburger hamburger--collapse" style="outline: none;" type="button" [ngClass]="menuIsOpen ? 'is-active': ''" (click)="toggleMenu()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </nav>
    <div class="search-wrapper animate__animated animate__slideInDown" *ngIf="searchIsOpen">
      <rm-business-search [config]="{minimal: true}"></rm-business-search>
    </div>

  </ng-template>

</div>
