#businessSearchBarGroup {
  width: 960px;

  input {
    // min-width: 28.4rem !important;
    border-left: none !important;
    border-right: none !important;
  }

  #searchBtn {
    width: 60px;
  }

  .input-group-prepend span,
  .input-group-append span {
    background-color: $white;
  }

  .form-control:focus {
    border-color: $white !important;
    box-shadow: none !important;
  }

  .dropdown-menu {
    min-width: 450px !important;
    margin: -.125rem 0 0 -78px !important;

    button:first-of-type {
      border-radius: 0;
    }

    button {
      padding: 0.25rem 1rem !important;
    }
  }

}

#biz-search-more-btn.dropdown-toggle::after {
  display: none !important;
}
