/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: $white;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: $white;
  border: 1px solid $white;
}

.btn-outline-primary {
  border: 2px solid $primary !important;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link.active,
.btn-link:active {
  text-decoration: none !important;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: $white;
  overflow-x: hidden !important;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: $black;
}
