.nav-btn {
  margin: 0 8px;
  &.btn-link {
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom-color: $primary;
      text-decoration: none !important;
      border-radius: 0;
    }
  }
}
