<rm-navbar></rm-navbar>
<div class="d-none d-lg-block d-xl-block content">
  <section class="jumbotron jumbotron-fluid w-100 text-center hero"
    [style.background-image]="'url(assets/images/food_1.jpg)'">
    <div class="container">
      <div class="hero-content-wrapper" style="padding-top: 200px;">
        <rm-business-search [config]="{minimal: false}"></rm-business-search>
      </div>
    </div>
  </section>

  <rm-suggestions [data]="suggestions"></rm-suggestions>
  <rm-locations-bar></rm-locations-bar>



  <rm-activity-feed></rm-activity-feed>
</div>
<div class="content d-lg-none d-xl-none d-md-block d-sm-block d-xs-block">
  <rm-search-categories-menu></rm-search-categories-menu>
</div>
<!-- <rm-footer></rm-footer> -->
