<section #searchSection class="search-section border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 p-0">
        <div class="search-sidebar-filter" *ngIf="showFilter && searchSection.clientWidth > 760">
          <h5 class="filter-header">Filters</h5>
          <div class="filter-section">
            <div class="btn-toolbar" role="toolbar" aria-label="">
              <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-sm btn-outline-dark">$</button>
                <button type="button" class="btn btn-sm btn-outline-dark">$$</button>
                <button type="button" class="btn btn-sm btn-outline-dark">$$$</button>
                <button type="button" class="btn btn-outline-dark">$$$$</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 p-0">
        <div class="search-content-wrapper">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <div class="search-map-wrapper" *ngIf="showMap && searchSection.clientWidth > 760">
          <rm-google-map [lat]="mapConfig.center.lat" [lng]="mapConfig.center.lng" [zoom]="15" [height]="searchSection.clientHeight / 1.75 + 'px'" [width]="searchSection.clientWidth / 3 + 'px'"></rm-google-map>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- TODO: Finish search page layout
-->
